@use "abstracts/mixins.scss" as *;
@use "components/beer.scss";
@use "components/food.scss";

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li{
  list-style: none;
  width: 100%;
}

ul {
  position: relative;
  // width: 30%;
}

html{
  font-family: sans-serif;

  @include respond(tab-land){  // width < 1200
    font-size: 56.25%;
  }
  @include respond(tab-port){  // width < 900?
    font-size: 50%;
  }
  @include respond(phone){
    font-size: 40%;
    letter-spacing: 0.01rem;
  }
  
  @include respond(desktop){
    font-size: 66%;
  }
  @include respond(big-desk){  // width > 1800
    font-size: 75%;
  }
}

nav{
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100vw;
}

nav a {
  text-decoration: none;
  margin: 1rem; 
  padding: 1rem 2rem;
  background-color: #b2b29f;
  border-radius: 0.3rem;
  color: #3a6a82;
}

nav a:visited{ color: #2f566a; }
nav a:active{ color: #3e738e; }

.main-container{
  position: relative;
  margin: 0 auto;
  
  display: flex;
  flex-flow: column;
  align-items: center;
}


