<!DOCTYPE html>
<html lang="en">
<head>
  <title>Header Template</title>

  <link href="/main.css" rel="stylesheet">
  <link href="/components/beer.css" rel="stylesheet">
  <link href="/components/food.css" rel="stylesheet">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <nav>
    <a href="/">view whole menu</a>
    <a href="/beer/">view all beers</a>
    <a href="/beer/create">Create a beer</a>
    <a href="/food">view food</a>
    <a href="/food/create">Create a new food</a>
  </nav>

  <div class="main-container">
    The Main Container