<!DOCTYPE html>
<html lang="en">
<head>
  <title>Header Template</title>

  <link href="/main.css" rel="stylesheet">

  <!-- this next line allows the entire app to resize itself if viewed from a small device -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>



  <!-- customized container object that adds padding to entire page so that the navbar has room to exist --> 
  <div class="all-knowing container">
    all knowing container?