<%- include('../partials/header') %>

  <form class="create-food-form" action="/food/create" method="POST" >
    <label for="name">Item name</label>
    <input name="name" type="text" >
    <label for="price">Item price</label>
    <input name="price" type="text" >
    <label for="notes">Item description</label>
    <input name="notes" type="text" >
    <label for="diet">Dietary notes</label>
    <input name="diet" type="text" >
    <label for="section">Menu section</label>
    <select name="menuSection" >
      <option value="side">side</option>
      <option value="start">snacks</option>
      <option value="small">small plates</option>
      <option value="large">large plates</option>
      <option value="dessert">dessert</option>
      <option value="feature">feature item</option>
    </select>
    <button >create item</button>
  </form>

<%- include('../partials/footer') %>