<%- include('../partials/header') %>

  <form class="create-beer-form" action="/beer/create" method="POST" >
    <label for="name">Beer Name</label>
    <input name="name" type="text" >
    <label for="pour1">Large Pour Size</label>
    <input name="pour1" type="number" >
    <label for="pour1price">Large Pour Price</label>
    <input name="pour1price" type="text" >
    <label for="pour2">Medium Pour Size</label>
    <input name="pour2" type="number" >
    <label for="pour2price">Medium Pour Price</label>
    <input name="pour2price" type="text" >
    <label for="pour3">Flight Pour Size</label>
    <input name="pour3" type="number" >
    <label for="pour3price">Flight Pour Price</label>
    <input name="pour3price" type="text" >
    <button >create</button>
  </form>

<%- include('../partials/footer') %>