<%- include('partials/header') %>

  <div>Food!</div>
  <% if(created){ %>
    <div>successfully created <%= created.name %></div> 
  <% } %>
  <ul>
    <li class="header-row"></li>
    <% allfood.forEach((item, i) => { %>
      <%- include('./partials/fooditem', {item}) %>
    <% }) %>
  </ul>

<%- include('partials/footer') %>