<%- include('partials/header') %>

  <div><%= category %></div>

  <ul>
    <% allItems.forEach((item, i) => { %>
      <%- include('./partials/NonAlcitem', { NonAlc: item }) %>
    <% }) %>
  </ul>

<%- include('partials/footer') %>
