<%- include('partials/header') %>

  <form action="/create-beer" method="POST" >
    <input name="name" type="text" placeholder="name of beer">
    <input name="pour1" type="number" placeholder="pour 1 size">
    <input name="pour1price" type="number" placeholder="pour 1 price">
    <button >CLICK ME</button>
  </form>

<%- include('partials/footer') %>