<%- include('partials/header') %>

  <div>Login Page</div>
  
  <form class="user-login-form" action="" method="">

    <label for="username">username</label>
    <input name="username" type="text" >

    <label for="password">password</label>
    <input name="password" type="text" >

    <button type="submit">LOGIN</button>
  </form>

<%- include('partials/footer') %>