<%- include('partials/header') %>

  <div>Edit Item</div>
  <% if(locals.beer){ %>
    <%- include('./partials/beeritem', {beer,mode: "edit"}) %>
  <% } else if(locals.food) { %>
    <%- include('./partials/fooditem', {food, mode: "edit"}) %>
  <% } %>

<%- include('partials/footer') %>