<%- include('partials/header') %>

  <div>Edit Item</div>
  <% if(beer){ %>
    <% console.log("updateItem") %>
    <%- include('./partials/beeritem', {beer,mode: "edit"}) %>
  <% } else if(food) { %>
    <%- include('./partials/fooditem', {food, mode: "edit"}) %>
  <% } %>

<%- include('partials/footer') %>